@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-primary: #3E7B39;
  /* Fern */
  --color-primary-dark: #276F3E;
  /* Turf Green */
  --color-primary-200: #679237;
  /* Sage Green */
  --color-background-light: #f5f5f5;
  --color-background-dark: #0a0a0a;
  /* Neutral Black */
  --color-surface-dark: #171717;
  /* Neutral Dark Grey */
  --color-status-vacant: #3b82f6;
  /* Blue for Vacant */
  --color-status-occupied: #3E7B39;
  /* Fern for Occupied/Active */
  --color-status-due: #F59E0B;
  --color-status-maintenance: #EF4444;

  --font-display: "Manrope", sans-serif;
}

:root {
  --background: #0a0a0a;
  /* Neutral 950 */
  --foreground: #fafafa;
  /* Neutral 50 */
  --primary: #3E7B39;
  /* Fern Green */
  --card: #171717;
  /* Neutral 900 */
  --input: #262626;
  /* Neutral 800 */
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
}